
.card-header {
    padding: 0%;
    padding-left: 1%;
}

.fonctionnalites {
    padding: 2%;
    margin-top: 2%;
    border: solid 1px #999;
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 2%;
}

h3 {
    font-size: 20px;
    margin-left: 1%;
}

.entete {
    width: 100%;
}

.centete {
    padding: 0%;
}