[Desktop Entry]
Type=Application  
Exec=/usr/bin/chromium-browser --kiosk http://localhost/server/  
Hidden=false  
X-GNOME-Autostart-enabled=true  
Name[en_US]=AutoChromium  
Name=AutoChromium  
Comment=Start Chromium when GNOME starts
